[Unit]
Description=KWinIdleTime Combined Service
Requires=dbus.socket
Conflicts=kwinidletime_daemon.service kwinidletime_listener.service
After=dbus.socket
ConditionUser=!@system

[Service]
Type=dbus
BusName=io.github.kale_ko.KWinIdleTime
ExecStart=/usr/bin/python3 "%{install_dir}/combined.py" --threshold 300 --listeners-path "%{config_dir}/"
WorkingDirectory=%{install_dir}

[Install]
WantedBy=graphical-session.target