[Unit]
Description=KWinIdleTime Combined Service
Conflicts=kwinidletime_daemon.service kwinidletime_listener.service
After=graphical-session.target

[Service]
Type=dbus
BusName=io.github.kale_ko.KWinIdleTime
ExecStart=/usr/bin/env python3 %h/.local/share/kwinidletime/combined.py --threshold 120 --listeners-path %h/.config/kwinidletime/listeners
WorkingDirectory=%h/.local/share/kwinidletime
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=strict
ProtectHome=read-only
ProtectControlGroups=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
RestrictSUIDSGID=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictNamespaces=yes
UMask=0077
RestrictAddressFamilies=AF_UNIX
IPAddressDeny=any
Restart=on-failure
RestartSec=2s
StartLimitBurst=5
StartLimitIntervalSec=30s

[Install]
WantedBy=default.target
