[Unit]
Description=KWinIdleTime Daemon Service
Requires=dbus.socket
Conflicts=kwinidletime_combined.service
After=dbus.socket graphical-session.target
AssertUser=!@system

[Service]
EnvironmentFile=%{config_dir}/config
Type=dbus
BusName=io.github.kale_ko.KWinIdleTime
ExecStart=/usr/bin/env python3 "%{install_dir}/daemon.py" --threshold ${KWINIDLETIME_THRESHOLD}
WorkingDirectory=%{install_dir}
KillSignal=SIGINT

Restart=on-failure
RestartSec=2s
StartLimitBurst=5
StartLimitIntervalSec=30s

[Install]
WantedBy=graphical-session.target