[Unit]
Description=KWinIdleTime Listener Service
Requires=dbus.socket kwinidletime_daemon.service
Conflicts=kwinidletime_combined.service
After=dbus.socket graphical-session.target kwinidletime_daemon.service
AssertUser=!@system

[Service]
EnvironmentFile=%{config_dir}/config
Type=simple
ExecStart=/usr/bin/env python3 "%{install_dir}/listener.py" --listeners-path "%{config_dir}/listeners/"
WorkingDirectory=%{install_dir}/
KillSignal=SIGINT

Restart=on-failure
RestartSec=2s
StartLimitBurst=5
StartLimitIntervalSec=30s

[Install]
Also=kwinidletime_daemon.service
WantedBy=graphical-session.target